---
import Base from '../layouts/base.astro';
import Card from '../components/card.astro'
---

<Base title="About" page="about">
  <div class="container">
    <h1>About page</h1>
    <Card heading="The founders"></Card>
    <Card heading="The Employees"></Card>
    <Card heading="The Customers"></Card>
  </div>
</Base>