---
import Base from '../layouts/base.astro';
---

<Base title="Home" page="home">
  <div class="container">
    <h1>Hello world</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum blanditiis aliquam itaque quibusdam illo nostrum qui, non quas minima, sapiente molestiae quaerat earum est excepturi accusamus aperiam velit consectetur nesciunt!</p>
  </div>
</Base>