---
  const { heading } = Astro.props
---

<style>
  .card {
    padding-left: 20px;
    max-width: 500px;
    border-left: 1px solid #333;
    margin-bottom: 50px;
  }
  h2 {
    margin-bottom: 10px;
  }
</style>

<div class="card">
  <h2>{heading}</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, iste saepe. Id libero quam animi nemo placeat voluptate deleniti blanditiis qui quas. A itaque veniam mollitia modi totam vero error!</p>
</div>